.about_container{
    position: relative;
    
    height: 100vh;
    width: 100vw;
    display: flex;  
    flex-shrink:0;
 
    
    
    
}  
.about_container h1{
    position: absolute;
    font-size: 10rem;
    top: 100%;
    color: rgb(0, 255, 47);
    left: 15%;
    
} 


.cartoon{
    position: absolute;
    top: -80%;
    left: 50%;
    
    
   
}
.cartoon img{
    width: 35rem;
    opacity: 90%;
    
}
.strip2{
    position: relative;
    height: 100vh;
    width: 2rem;
    background-color: black;
    left: -2rem;
}
.about1{
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 200, 255, 0.567);
}
.about1 p{
    position: relative;
    top: 90%;
    left: 15%;
    width: 25rem;
    font-size: 14px;
}
.about2{
    width: 50%;
    background-color: rgba(255, 132, 0, 0.337);
    display: flex;
    justify-content: center;
}
.about2 p{
    position: relative;
    top: 100%;
    left: 20%;
    width: 25rem;
    font-size: 14px;
}