.Intro-container{
    z-index: 2;
    position: relative;
    width: 100vw;
    height: 90vh;
    left: 5rem;
    justify-content: space-around;
    display:flex;
    flex-shrink: 0;
    align-items: center;
    transform: translate(-3%);
    
}
.name{
    position: relative;
    left: 5rem;
    height: 22rem;
    width: 50%;
   font-size: 3vw;
   align-items: center;
   font-family: gilory;
}

.name h1{
    position: relative;
    text-align: left;
    font-size: 4.9vw;
    margin-top: 4px;
    margin-bottom: 4px;
    letter-spacing: 1px;
    word-spacing: 2px;  
}
.jay{
    
    -webkit-text-stroke: 1px white;
}
.name h2{
    display: flex;
    position: relative;
    margin-top: 4px;
    margin-bottom: 4px;
    color: white;
    font-size: 2.7vw;
  
}
.Into{
    display: flex;
    overflow-x: hidden;
    
    position: relative;
    margin-top: 4px;
    margin-bottom: 4px;
    color: white;
    font-size: 2.7vw;
  
}
@font-face {
    font-family: gilory;
    src: url("./Gilroy-SemiBold.ttf");
}
.containerr {
    position: relative;
    right: 6%;
    top:-1px;
    display: flex;
   justify-content: center;
  
   
}

.social-icons{
    display: flex;
    position: relative;
}

.social-icons i{
    font-size: 2.2rem;
    width: 3rem;
    height: 3rem;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 35px;
}
.social-icons i:hover{
    font-size: 2.3rem;
}

#inner{
    width: 100%;
    height:fit-content;
    border-radius: 40px; 
}

@media (max-width:500px){
    .name h1{
        font-size: 8vw;
    }
}
@media (max-width:700px){
    .Intro-container{
       
        display: flex;
        flex-direction: column;
        width: 90vw;
        
    }
    .name{
        width: 100%;
        font-size: 6vw;
        left: 0;
        height: 14rem;
        left: 2rem;
    }

    .name h2{
        font-size: 5.5svw;
        justify-content: center;
        justify-items: center;
        justify-self: center;
    }
    .Into{
        
        width: 100%;
        font-size: 5.3vw;
    }
    .btn{
        font-size: 13px;
        padding: 9px;
    }
    .containerr{
       justify-content: center;
       justify-items: center;
    }
    #inner{
        width: 65%;
        position: relative;
       
    }

    .social-icons{
      
    }
    .social-icons i{
        width: 9vw;
        height: 9vw;

        font-size: 6vw;}
        .social-icons:hover{
            font-size: 7.5vw;
        }
     
}
.strip{
    position: absolute;
    height: 1.5rem;
    width: 103.5vw;
    background-color: rgba(0, 0, 0, 0.592);
    left: -3.4rem;
    top: 51%;
}